asgiref==3.11.1
attrs==26.1.0
Automat==25.4.16
cbor2==5.9.0
certifi==2026.4.22
cffi==2.0.0
channels==4.3.2
channels_redis==4.3.0
charset-normalizer==3.4.7
constantly==23.10.4
cryptography==46.0.7
Django==6.0.4
django-widget-tweaks==1.5.1
flake8==7.3.0
hyperlink==21.0.0
idna==3.11
Incremental==24.11.0
joblib==1.5.3
mccabe==0.7.0
msgpack==1.1.2
numpy==2.4.4
packaging==26.1
pillow==12.2.0
py-ubjson==0.16.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycodestyle==2.14.0
pycparser==3.0
pyflakes==3.4.0
python-dotenv==1.2.2
redis==7.4.0
requests==2.33.1
scikit-learn==1.8.0
scipy==1.17.1
service-identity==24.2.0
sqlparse==0.5.5
threadpoolctl==3.6.0
Twisted==25.5.0
txaio==25.12.2
typing_extensions==4.15.0
tzdata==2026.1
ujson==5.12.0
urllib3==2.6.3
zope.interface==8.3
